# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Work1/example02/example02/x64/Debug
/Work1/example02/x64/Debug
/Work1/test01/.vs/test01
/Work1/test01/x64/Debug
/Work1/test01/test01/x64/Debug
/Work1/example02/.vs/example02
/Work1/example01/x64/Debug
/Work1/example01/example01/x64/Debug
/Work1/example01/.vs/example01
